@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Singleton: @ViewBag.Singleton</h1>
    <hr />
    <h1>Scoped: @ViewBag.Scoped</h1>
    <hr />
    <h1>Transient: @ViewBag.Transient</h1>

</div>
